#chat-screen {
  background-color: #abc1d1;
  height: 11000vh; /* 채팅방 스크롤 테스트 */
}

/* 상태바와 채팅방 헤더 고정 */
#chat-screen .alt-header,
#chat-screen .status-bar {
  position: fixed;
  width: 100%;
  background-color: #abc1d1;
  box-sizing: border-box;
}

/* 상태바를 가장 앞쪽에 배치 */
#chat-screen .status-bar {
  top: 0;
  z-index: 2;
}

/* 채팅방 헤더를 상태바 아래로 배치 */
#chat-screen .alt-header {
  top: 50px;
  left: 0;
  z-index: 1;
  margin: 0;
  padding: 0 15px;
}

/* 채팅 내용을 헤더 아래에서 시작 */
.main-chatroom {
  margin-top: 150px;
}
