.alt-header {
    padding-top: 50px; /* 상태바와 헤더가 겹치지 않도록 위쪽 여백 */
    display: flex; /* 3개의 column을 가로로 배치 */
    align-items: center; /* 헤더 안 요소들을 세로 기준 가운데 정렬 */
    margin-bottom: 30px;
    margin: 0px 15px;

}

.alt-header__title {
    font-size: 28px; /* 제목 글자 크기 */
    font-weight: 600; /* 제목 굵게 */
    /* 스크린 헤더 css와 동일 */
}

.alt-header__column {
    width: 33%; /* 헤더를 왼쪽/가운데/오른쪽 3칸으로 동일하게 나눔 */
}

.alt-header__column:first-child {
    display: flex;
    justify-content: flex-start; /* 첫 번째 칸의 아이콘을 왼쪽 끝으로 정렬 */
}

.alt-header__column:nth-child(2) {
    display: flex;
    justify-content: center; /* 두 번째 칸의 제목을 가운데 정렬 */
}

.alt-header__column:last-child {
    display: flex;
    justify-content: flex-end; /* 마지막 칸의 아이콘을 오른쪽 끝으로 정렬 */
}