/* 자주 쓰이는 빨간 동그라미 1 */
.badge {
    background-color: tomato;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; /* 세로 중앙 정렬 */
    color: white;
    font-weight: 600;
}